# dependencies
/node_modules

# misc
.env
.env.*
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# lock files
package-lock.json
yarn.lock
.yarn
.pnp.*

# IDE
.vscode/
.idea/ 